<section id="personalInformation">
<img id="profilePhoto" src="data/profilePhoto.jpg" alt="Profile Photo" width="@_imgSize" height="@_imgSize"/>
    @if (_isLoaded)
    {
        
        <h4>@_me.FirstName @_me.LastName</h4>
        <h6>@_me.Position</h6>
        <h6>@_me.Phone</h6>
        <h6><address>@_me.Email</address></h6>
    }
</section>