<div class="personalInformation">
    @if (_isLoaded)
    {
        <h2>@_me.FirstName @_me.LastName</h2>
        <h3>@_me.Position</h3>
        <h4>@_me.Phone</h4>
        <h4>@_me.Email</h4>
    }
</div>